
@font-face {
  font-family: geneva;
  src: url(Geneva.ttf);
}

@font-face {
  font-family: inaimathi;
  src: url(InaiMathi.ttf);
}

h1, h2{
  font-family: inaimathi;
  font-weight: 20;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
}

button{
  font-family: geneva;
  height: 40vh;
  width: 30vw;
  margin: 20px;
}

@media (max-width:900px) {
  .navbar{
    flex-direction: column;
  }
  button{
    width: 80vw;
  }
}