<<<<<<< HEAD
body{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
=======
body{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
>>>>>>> refs/remotes/origin/main
